@mixin size($w, $h) {
  width: $w;
  height: $h;
  border-radius: ($w)/2;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span {
    margin-left: 50px;
  }
  #green {
    @include size(100px, 100px);
    display: inline-block;
    background-color: green;
  }
  #yellow {
    @include size(100px, 100px);
    display: inline-block;
    background-color: yellow;
  }
  #red {
    @include size(100px, 100px);
    display: inline-block;
    background-color: red;
  }
}
