* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.box {
  width: 800px;
}

.box > div {
  width: 100%;
}

.box > div > div {
  width: 25%;
  float: left;
  text-align: center;
}

#main {
  list-style: none;
  width: 100%;
}

#main > li {
  width: 25%;
  float: left;
  text-align: center;
}
