* {
  margin: 0;
  padding: 0;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

div button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

div button:hover {
  background-color: gray;
}
