* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

#wrap {
  margin-top: 20%;
  text-align: center;
}

#wrap #time span {
  display: inline-block;
  width: 120px;
}

#wrap #min,
#wrap #sec,
#wrap #milisec {
  font-size: 100px;
  margin-left: 20px;
  width: 33.333%;
}

#wrap #Btn span {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  line-height: 31px;
  cursor: pointer;
}

#list_result {
  text-align: center;
}

#list_result li {
  margin-top: 20px;
}
